/* ====================================
   All region in project
   ==================================== */


/* zone global style */

.zone {
    margin-bottom: 20px;

    &__header {
        @include clearfix;
        margin-bottom: 12px;

    }

    &__title {
        font-size: 20px;
        line-height: 1.4;
        position: relative;
        text-transform: uppercase;
        color: $brand-primary;
        font-family: $font-family-serif;
        font-weight: bold;
        padding-left: 12px;
        letter-spacing: -1px;

        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 5px;
            bottom: 5px;
            left: 0;
            width: 4px;
            background-color: $brand-primary;
        }

        a {
            color: $brand-primary;
            transition: all 0.2s linear;

            &:hover {
                color: darken($brand-primary, 10%);
            }

            &+.sub-title {
                padding-left: 10px;
                border-left: 1px solid #ddd;
                margin-left: 10px;
            }
        }

        .sub-title {
            font-size: 14px;
            font-weight: normal;
            text-transform: none;
            line-height: initial;

            &+.sub-title {
                margin-left: 8px;
                padding-left: 8px;
                border-left: 1px solid #eee;
            }
        }

        .zone--featured & {
            color: white;

            &::after {
                background: white;
            }

            &:hover {
                color: $brand-primary;

                &:after {
                    background: $brand-primary;
                }
            }
        }
    }

    &__control {
        float: right;

        .prev,
        .next {
            display: inline-block;
            margin-left: 8px;
            background: #f0f0f0;
            font-size: 14px;
            line-height: 24px;
            width: 24px;
            text-align: center;
            cursor: pointer;
            transition: all 0.2s linear;

            &:hover {
                color: black;
                background: #ccc;
            }
        }
    }

    &__footer {
        margin-top: 12px;

        .text-center {
            text-align: center;
            color: $gray-light;
        }
    }

    &__content {
        @include clearfix();
    }

    &--highlight {
        padding-bottom: 24px;
        border-bottom: 1px solid #ddd;

        .three-cols {
            .story {
                margin-bottom: 0;
            }
        }
    }

    &--grey {
        .zone__header {
            text-align: center;
            margin-bottom: 0;
        }

        .zone__title {
            font-weight: normal;
            font-size: 18px;

            &::before {
                display: none;
            }

            a {
                display: inline-block;
                padding: 4px 12px;
                background-color: $brand-primary;
                color: white;
            }
        }

        .zone__content {
            border-top: 3px solid $brand-primary;
            background: #E0E0E0;
            padding: 16px 16px 0;
        }
    }

    &--special {
        max-height: 168px;
        border-radius: 5px;
        overflow: hidden;
        position: relative;
        padding-top: 16px;

        .zone__header {
            position: absolute;
            left: 0;
            top: -10px;
            width: 229px;
            height: 188px;
            background: url('../img/zone-special-header.png') left top no-repeat;
            background-size: 229px 188px;
            margin-bottom: 0;
        }

        .zone__title {
            text-indent: -9999em;
            position: static;

            &::before {
                display: none;
            }

            a {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
            }
        }

        .zone__content {
            margin-left: 110px;
            background-color: #E0E0E0;
            border-radius: 5px;
            overflow: hidden;
            padding: 16px 16px 16px 150px;

            .story {
                margin-bottom: 0;
            }
        }
    }

    &--scroll {
        .zone__content {
            max-height: 250px;
            overflow: auto;
            padding-right: 14px;
        }

        .zone__content::-webkit-scrollbar-track {
            // -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
            border-radius: 10px;
            background-color: #F5F5F5;
        }

        .zone__content::-webkit-scrollbar {
            width: 4px;
            opacity: 0.5;
            background: #f0f0f0;
            border-radius: 4.5px;
        }

        .zone__content::-webkit-scrollbar-thumb {
            border-radius: 10px;
            // -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, .3);
            background-color: #c7c7c7;
        }
    }

}

// ads
.qc {
    @include clearfix();
    margin-bottom: 24px;
    text-align: center;
}

.area {
    padding: 24px 0;
    margin-bottom: 24px;

    &--featured {
        background-color: #FEE881;
        border-top: 4px solid #EFDB7D;
    }

    .zone {
        margin-bottom: 0;

        &__title {
            color: black;
            padding-left: 0;

            &::before {
                display: none;
            }

            a {
                color: black;

                &:hover {
                    color: $gray;
                }
            }
        }
    }
}

.qc {
    &--floating {
        position: absolute;
        top: 0;
    }

    &--left {
        right: 100%;
        margin-right: 10px;
    }

    &--right {
        left: 100%;
        margin-left: 10px;
    }
}

.box {
    margin-bottom: 24px;

    &__header {
        margin-bottom: 8px;
        text-align: center;
        padding-top: 20px;
        background: url(../img/box-header.png) center top no-repeat;
    }

    &__title {
        font-size: 14px;
        text-transform: uppercase;
        color: $brand-primary;
        font-family: $font-family-serif;
        font-weight: bold;
        line-height: 1.4;

        a {
            color: $brand-primary;
        }
    }

    &__content {
        background: #F0F0F0;
        border: 1px solid #DDDDDD;
        border-radius: 5px;
        padding: 16px;
    }

    .story {
        margin-bottom: 0;

        &__title {
            text-align: center;
        }
    }
}

/*utility*/
.utility {
    border-radius: 5px;
    overflow: hidden;
    padding: 16px;
    margin-bottom: 16px;
    position: relative;
    min-height: 82px;

    .text,
    .desc,
    .title {
        color: white;
        position: relative;
    }

    .temp {
        font-size: 32px;
        color: #FEFEFE;
        position: absolute;
        left: 16px;
        top: 50%;
        transform: translateY(-50%);
        font-family: $font-family-serif;

        &+.title {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 16px;
            margin-bottom: 0;
        }
    }

    .title {
        font-family: $font-family-serif;
        font-size: 20px;
        margin-bottom: 8px;
    }

    .desc {
        @include clearfix;
        opacity: 0.6;
        font-size: 14px;
        font-family: $font-family-sans-serif;
        font-weight: normal;
        &+.desc {
            margin-top: 4px;
        }
    }

    .background {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 0;

        &::before {
            content: "";
            display: block;
            opacity: 0.2;
            background-image: linear-gradient(-152deg, #019941 1%, #2B2B2B 100%);
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            z-index: 1;
        }

        &::after {
            content: "";
            display: block;
            opacity: 0.5;
            background: #000000;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            z-index: 2;
        }
    }



    .text-left {
        float: left;
    }

    .text-right {
        float: right;
    }
}

/*slider*/
.slider {
    .bx {
        &-pager {
            text-align: center;
            font-size: 0;
            line-height: 1;
            margin-top: 8px;

            &-item {
                display: inline-block;
                margin: 0 4px;
            }

            &-link {
                text-indent: -9999em;
                display: inline-block;
                border-radius: 50%;
                width: 12px;
                height: 12px;
                background-color: #D8D8D8;

                &.active {
                    background-color: $brand-primary;
                }
            }
        }
    }

    &.slider--secondary {
        .bx-pager-link.active {
            background-color: $brand-info;
        }
    }

    .story {
        margin-bottom: 0;
    }

    .no-js & {
        max-height: 330px;
        overflow: hidden;
    }
}